@use "../abstract/index.scss" as var;
.footer {
    margin-top: 100px;
    padding: 56px 80px;
    background: linear-gradient(to right bottom, #008CDA 0%, #34D4F2 50%, #ACE2E1 100%);
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
}
.logo img {
    width: 140px;
}
.footer__text {
    color: var.$custom-text-white;
}
.footer__map iframe {
    border-radius: 24px;
}
.footer__phone, .footer__social-media {
    color: var.$custom-text-white;
    a {
        color: var.$custom-text-white;
        text-decoration: none;
    }
}
@media only screen and (max-width: 1199.9px) {
    .footer {
        padding: 56px 40px;
    }
}
@media only screen and (max-width: 991.9px) {
    .footer {
        text-align: center;
    }
}
@media only screen and (max-width: 575.9px) {
    .footer {
        padding: 40px 25px;
        text-align: center;
    }
}