// general colors
$custom-dark-blue: rgb(0, 140, 218);
$custom-dark-blue-30: rgba(82, 153, 246, 0.5);
$custom-purple: rgb(58, 46, 131);
$custom-purple-30: rgba(134, 116, 243, 0.5);
$custom-dark-green: rgb(0, 126, 114);
$custom-dark-green-30: rgba(13, 227, 206, 0.5);
$custom-light-blue: rgb(1, 143, 168);
$custom-light-blue-30: rgba(52, 212, 242, 0.3);
$custom-dark-red: rgb(220, 53, 69);
// text colors
$navbar-text-color: rgb(71, 84, 103);
$custom-text-white: rgb(255, 255, 255);
$custom-text-black: rgb(33, 40, 49);
// bg colors
$primary-bg: rgb(255, 255, 255);